$max_width: 1200px;
$min_width: 768px;

$item_background: #F6F6F6;
$item_border: #CCCCCC;
$link_color: #114C9A;

@mixin category-level-header($content) {
    content: $content;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    background-color: #FFFFFF;
    padding-bottom: 0.25em;
}

html {
    font-size: 100%;
}

body.alternate-environment {

    background-color: orange !important;

    #portal-top {
        #portal-logo span {
            font-size: 2.25em;
            font-family: 'Trebuchet MS';
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

body {
    background-color: #333333;
    font-weight: 400;
    line-height: 1.45;

    a:link,
    a:visited {
        color: $link_color;
    }

    #visual-portal-wrapper {
        max-width: $max_width;
        margin: 0 auto;

        #portal-top,
        #portal-columns,
        #portal-footer-wrapper {
            background-color: #FFFFFF;
        }

        #portal-globalnav:before {
            @include category-level-header("Category Level 1");
        }

        #portal-breadcrumbs {

            font-size: 75%;
            margin-bottom: 0.5em;

            .breadcrumbSeparator {
                vertical-align: middle;
                margin: -0.5em 0.375em 0;
                display: inline-block;
                font-size: 2em;
                font-weight: bold;
                color: #AAAAAA;
            }

            span.crumb {
                font-weight: bold;
                display: inline-block;
                padding: 0;
                margin: 0 0 0.75em;
                vertical-align: middle;
                line-height: 1.125;
                max-width: 20em;

                [data-type]:before {
                    content: attr(data-type) ":";
                    font-weight: normal;
                    display: block;
                    color: #333333;
                    line-height: 1;
                }
            }
        }

        #portal-columns {
            #portal-column-one {

                .portletNavigationTree:before {
                    @include category-level-header("Category Level 2/3");
                    padding-bottom: 0;
                }

                #left-area {
                    width: auto;
                    float: none;

                    .faceted-sorting-widget {
                        .field {
                            margin-bottom: 0;
                        }
                    }

                    fieldset {
                        border: none;
                        padding: 0;
                        margin: 0 0 1em 0;
                        legend {
                            margin: 0 0 0.25em 0.5em;
                        }

                        form {
                            font-size: 0.875em;

                            ul, select, .field {
                                margin-left: 1.5em;
                            }

                            select {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }

        #viewlet-above-content-body {
            $leadimage_width: 350px;
            $leadimage_width_percent: 100%*($leadimage_width/$max_width);

            .leadimage {
                margin: 1em 0;
                width: $leadimage_width_percent;

                img {
                    width: 100%;
                    height: auto;
                    float: none;
                }
            }

            .leadimage-full {
                margin: 1em 0;
                float: none;
                width: 100%;
            }
        }

        #content {
            font-size: 1em;
            line-height: 1.45;

            /* Override the embiggening for the Title field in a data grid */
            .field .datagridwidget-cell input[type="text"] {
                font-family: "Helvetica Neue",​Arial,​FreeSans,​sans-serif;
                font-size: 1em;
                font-weight: normal;
                width: 96%;
                line-height: 1.5;
                letter-spacing: 0;
                margin: 3px 1%;
                padding: 1%;
            }

            > div.documentDescription {
                margin-bottom: 0.5em;
            }

            div.documentByLine {
                font-size: 100%;
            }

            #content-core, #viewlet-above-content-body {
                $padding: 16px;
                $margin: 8px;
                $border: 1px;
                $max_columns: 5;

                .searchResults {
                    a[data-type]:before {
                        content: attr(data-type) ": ";
                        font-weight: bold;
                    }

                    .documentLocation {
                        font-size: 0.9375em;
                    }
                }

                ul {
                    margin-bottom: 1em;

                    li {
                        margin-bottom: 0;
                    }
                }

                .product-listing {
                    font-size: 0.875em;

                    div.listTitle[data-status]:after {
                        content: attr(data-status);
                    }

                    div.listTitle[data-review_state]:after {
                        background-color: red;
                        font-size: 1em * (0.85/1.25);
                        color: #FFFFFF;
                        font-weight: bold;
                        display: inline-block;
                        padding: 0 0.125em;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                    }

                    .pagination {
                        clear: both;
                    }
                }

                .product-listing {
                    .listItem {
                        .dates {

                            margin-top: 0.75em;

                            p {
                                display: block;
                                color: #666666;
                                font-size: normal;
                                font-size: 0.85em; /* Weird size to make it match other items. */
                                margin: 0;
                            }
                        }
                    }
                }

                li {
                    margin-bottom: 1em;

                    a[data-type]:before {
                        content: attr(data-type) ": ";
                        font-weight: bold;
                    }
                }

                .review-state {
                    line-height: 1.25;
                    margin-top: 1.25em;
                }

                .issue-summary {

                    .discreet {
                        line-height: 1;
                        margin-top: 1em;
                    }

                    .issue-icons {
                        margin-top: 0;
                        word-spacing: -5em;
                        line-height: 0.875;
                    }

                    span[class *= "error-check"]:before {
                        content: "\25A0";
                        font-size: 1.25em;
                    }

                    span.error-check-high:before {
                        color: #DF291B;
                    }

                    span.error-check-medium:before {
                        color: #FF9D4F;
                    }

                    span.error-check-low:before {
                        color: #FFD71F;
                    }

                    span.error-check-none:before {
                        color: green;
                        content: "\25A0";
                    }

                    span.error-check-manual:before {
                        color: #DDDDDD;
                        content: "\25A0";
                    }
                }

                img {
                    max-width: 100%;
                    max-height: 650px;
                }

                .slideshow-item {
                    margin: 1em 0 2em;
                    padding: 1em;
                    border: 1px dashed #999999;
                }

                .documentPage {
                    border: 1px solid #666666;
                    padding: 1.5em;
                    background-color: #f9f9f9;
                    margin: 1.5em 0;
                }

                .listItem {
                    background-color: $item_background;

                    .listTitle {
                        font-weight: bold;
                        font-size: 1.25em;
                        margin-top: 0.25em;
                        margin-bottom: 0.125em;
                        line-height: 1.125;
                    }

                    .listTitle a {
                        border: none;
                    }

                    .listDescription {
                        margin-top: 0.25em;
                        margin-bottom: 0.125em;
                        line-height: 1.375;
                        color: #454545
                    }

                    .listLeadImage {

                        a {

                            img {
                                position: absolute;
                                width: 100%;
                                height: auto;
                                /*
                                   That was easy!
                                   http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
                                */
                                -ms-transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                                top: 50%;
                            }
                        }

                        width: 100%;
                        height: 0;
                        padding-bottom: 100%*(2.0/3);
                        position: relative;
                        overflow: hidden;
                    }

                    .listLeadImage a,
                    .listLeadImage img {
                        border: none;
                    }

                    div.listLeadImage[data-type]:before {
                        content: attr(data-type);
                        font-weight: bold;
                        background-color: #000000;
                        color: #FFFFFF;
                        display: block;
                        padding: 0.125em 0.375em;
                        font-size: 0.9375em;
                        margin-bottom: 0.375em;
                        opacity: 0.9;
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        right: 0;
                        top: 0;
                    }
                }

                /* Provide a placeholder background color for missing leadimages */
                .listItemMissingLeadImage {
                    .listLeadImage {
                        background-color: $item_border;
                    }
                }

                .list-item-container {
                    $negative_margin_percent: ($margin+$padding)/$max_width + ($border/$max_width);
                    margin-left: -100%*$negative_margin_percent;
                    margin-right: -100%*$negative_margin_percent;
                    width: 100% + 100%*(2*$negative_margin_percent);
                }

                @for $i from 1 to ($max_columns+1) {
                    $c: 100/$i;
                    $block_width: ($c/100)*$max_width;
                    $cell_width: $block_width - 2*($padding+$margin);
                    $cell_width_percent: $cell_width/$max_width - (2*$border)/$min_width;
                    $margin_width_percent: ($margin/$max_width);
                    $padding_width_percent: ($padding/$max_width);

                    .list-item-columns-#{$i} {
                        width: $cell_width_percent*100%;
                        float: left;
                        padding: 1.5em $padding_width_percent*100%;
                        border: $border $item_border solid;
                        margin: 1.5em $margin_width_percent*100%;
                    }

                    .list-item-columns-#{$i}:nth-child(#{$i}n+1) {
                        clear: left;
                    }

                    .list-item-columns-#{$i}.no-clear:nth-child(#{$i}n+1) {
                        clear: none;
                    }

                }

                /* CSS for atlas menu controls */
                /* Atlas Review Navigation */
                .atlas-item {
                    margin-bottom: 1em;
                    padding-bottom: 1em;
                    border-bottom: 1px dashed $item_border;
                }

                .atlas-filter {
                    margin: 1em 0;
                    border: none;
                    padding: 0 1.5% 0;
                    width: 47%;

                    label, select, input {
                        vertical-align: middle;
                    }

                    button.selected {
                        color: #205c90;
                        font-weight: bold;
                    }

                    h2 {
                        margin-top: 0;
                    }
                }

                .atlas-filter:first-child {
                    padding: 0 1.5% 0 0;
                    width: 48.5%;
                }

                .atlas-filter:nth-child(2) {
                    padding: 0 0 0 1.5%;
                    width: 48.5%;
                }

                .atlas-controls {

                    .atlas-review-nav {
                        background-color: $item_background;
                        margin-bottom: 1em;
                        border: 1px solid $item_border;

                        ul {
                            font-size: 0.875em;
                            margin-left: 0;
                            display: block;

                            li {
                                display: inline-block;
                                float: left;
                                margin-bottom: 0 !important;
                                list-style-type: none;
                                min-width: 3em;
                                text-align: center;

                                a {
                                    border-bottom: none !important;
                                    padding: 0.5em 0.75em;
                                    margin: 0;
                                    border-left: 1px solid $item_border;
                                    display: block;
                                    background-color: $item_background;
                                }

                                a:hover {
                                    text-decoration: underline;
                                }

                                a.selected {
                                    background-color: $link_color;
                                    color: $item_background;
                                }
                            }

                            li:first-child a {
                                border-left: none;
                            }
                        }
                    }
                }

                #faceted-form {
                    #center-and-left-area {
                        margin-right: 0;

                        #center-area {
                            margin-left: 0;

                            fieldset {

                                legend {
                                    padding: 0;
                                    font-size: 1em;
                                }

                                dl, div {
                                    margin: 0 0.5em 0 1.5em;
                                    font-size: 0.875em;
                                }

                                border: none;
                                padding: 0;
                                margin: 0;
                            }

                            #center-content-area {
                                margin-right: 0;
                                margin-left: 0;
                            }
                        }
                    }
                }

                #user-group-sharing {
                    font-size: 0.875em;
                }

                .educational-drivers, .featured-products {
                    .listItem {
                        border: none;
                        background-color: transparent;
                        padding-top: 0;
                        margin-top: 0;
                        margin-bottom: 0;

                        h3 {
                            margin-top: 0;
                        }

                        ul, li {
                            list-style-type: none;
                            margin-left: 0;
                            padding-left: 0;
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }

            ul.documentDescription {
                li {
                    list-style-type: none;
                }
            }

            table.listing th {
                color: #333333;
            }

            table.grid th {
                background-color: #F6F6F6;
            }

            table.small {
                font-size: 0.875em;
            }


            #viewlet-above-content-title {
                .portalMessage {
                    font-size: 80%;
                    margin: 0 -0.3125em 0.55em;

                    a,
                    a:link,
                    a:visited {
                        color: $link_color;
                    }
                }
            }

            #viewlet-below-content-title {
                #content-history {

                    span:after {
                        content: "\25C0  " attr(data-message-count) " comments";
                        color: #DA3E00;
                        font-size: 0.75em;
                        padding: 0.375em;
                        font-weight: bold;
                        line-height: 1.125;
                        display: inline-block;
                        top: -0.125em;
                        position: relative;
                        text-align: center;
                        margin-left: 0.25em;
                    }
                }

                #lock-icon {
                    font-size: 0.75em;
                    margin: 0 0 0.75em 0;
                }
            }

            h1, h1.documentFirstHeading,
            h2, h3, h4 {
              margin: 1.414em 0 0.375em;
              font-weight: inherit;
              line-height: 1.2;
              letter-spacing: -0.03em;
            }

            h1, h1.documentFirstHeading, {
              margin-top: 0;
              font-size: 2.369em;
              font-weight: bold;
            }

            h2 {
                font-size: 1.777em;
                border-bottom: 1px solid $item_border;
            }

            h3 {
                font-size: 1.333em;
            }

            h4 {
                font-size: 1.125em;
            }

            small, .font_small {
                font-size: 0.75em;
            }

            div.listingBar {
                a:hover {
                    background-color: $item_background;
                    border-color: #75ad0a;
                }
            }
        }

        #portal-column-content {

            dl.portalMessage.note {
                dt {
                    background-color: #DA3E00;
                }
                dd {
                    background-color: #FFC6AF;
                }
            }

            .documentEditable {

                .cascade-select {
                    select {
                        font-size: 0.875em;
                        padding: 0.125em 0.375em;
                        margin: 0;

                        optgroup {
                            font-weight: bold;
                            color: black;
                            padding: 0.25em 0 0.375em 0;
                            margin-bottom: 0.25em;
                            border-bottom: 1px solid $item_border;
                        }
                    }
                }
            }

            #viewlet-below-content-body,
            #viewlet-above-content-body {
                .google-map-iframe, .youtube-video-embed {
                    position: relative;
                    width: 100%;
                    padding-bottom: 56.25%;
                    margin: 1em 0;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        border: none;
                        width: 100%;
                        height: 100%;
                    }
                }

                .youtube-video-embed {
                    width: 50%;
                    padding-bottom: 50%*(9/16);
                }

                .youtube-video-embed.aspect-16-9 {
                    padding-bottom: 50%*(9/16);
                }

                .youtube-video-embed.aspect-4-3 {
                    padding-bottom: 50%*(3/4);
                }

                .youtube-video-embed.aspect-3-2 {
                    padding-bottom: 50%*(2/3);
                }

            }

            #viewlet-below-content {
                .data-dump {
                    font-size: 0.75em;
                    line-height: 1.45;

                    > div {
                        margin: 0 1em;
                        > div {
                            margin: 0 0.5em;

                            p.field-description {
                                color: #575757;
                                margin-bottom: 0.375em;
                            }
                        }

                    }

                    h2, h3, h4, h5 {
                        color: #000000;
                    }

                    h2 {
                        margin-top: 0;
                        font-size: 1.602em;
                        border-bottom: 1px solid #999999;
                        margin-bottom: 0.375em;
                    }

                    h3 {
                        font-size: 1.424em;
                        color: #F6F6F6;
                        background-color: #999999;
                        border: 1px solid #666666;
                        padding: 0 0.375em;
                        margin-bottom: 0.375em;
                    }

                    h4 {
                        font-size: 1.266em;
                    }

                    h5 {
                        font-size: 1.125em;
                    }

                    p, ul {
                        margin-bottom: 1.3em;
                    }

                    ul {
                        display: block;
                        list-style-type: disc;
                        padding-left: 1em;
                        font-size: 1em;
                    }

                    li {
                        list-style-position: inside;
                        display: list-item;
                    }
                }
            }
        }

        /* Make the status report tabs smaller when we have a left column */
        #portal-column-content.width-3\:4 {
            #content .atlas-review-nav {
                ul {
                    font-size: 0.8125em;
                }
            }
        }

        p.error-check-none:before {
            font-weight: bold;
            padding-right: 0.25em;
            font-size: 1.5em;
            display: inline-block;
            float: left;
            margin-top: -0.375em;
            color: green;
            content: "\25A0";
            margin-left: 1em;
        }

        table.errors {
            margin: 0.25em 1em 1.5em;

            th {
                color: #FFFFFF;
                background-color: #999999;
                border: 1px solid #666666;
                font-size: 1.125em;
                padding: 0.25em 0.6875em;
            }

            td {
                border: 1px solid #666666;
            }

            tr td:first-child {
                font-weight: bold;
            }

            tr td:first-child span:before {
                font-weight: bold;
                padding-right: 0.25em;
                font-size: 1.5em;
                display: inline-block;
                float: left;
                margin-top: -0.375em;
            }

            tr.error-check-high td:first-child span:before {
                color: #DF291B;
                content: "\25A0";
            }

            tr.error-check-medium td:first-child span:before {
                color: #FF9D4F;
                content: "\25A0";
            }

            tr.error-check-low td:first-child span:before {
                color: #FFD71F;
                content: "\25A0";
            }

            tr.error-check-none td:first-child span:before  {
                color: green;
                content: "\25A0";
            }

            tr.error-check-manual td:first-child span:before {
                color: #DDDDDD;
                content: "\25A0";
            }
        }

        form.rescan-issues {
            input  {
                margin: 0.25em 1em 2em;
            }
        }
    }
}

/* These classes insert the content type before the title when on the product */

body[class *= "portaltype-atlas_"] {
    h1.documentFirstHeading[data-type]:before {
        content: attr(data-type) ": ";
        font-weight: normal;
    }
}

/* Fix the link color */

#content a:link,
dl.portlet a:link {
    color: $link_color;
}

.state-published {
    color: $link_color !important;
}

.review-state {
    span {
        font-weight: bold;
    }

    .state-expired {
        color: #333333 !important;
    }

    .state-expiring_soon {
        color: #FF0000;
    }

    .state-pending {
        color: #ffa500;
    }

    .state-private {
        color: #FF0000;
    }

    .state-published {
        color: #75ad0a !important;
    }
    .state-requires_feedback {
        color: #FF0000;
    }
}

/* Navigation Tree Styles */

dl.portlet.portletNavigationTree {
    font-size: 0.875em;

    img {
        display: none;
    }

    ul.navTreeLevel0 {
        > li {
            > a.navTreeCurrentItem,
            > a.navTreeItemInPath {
                margin: 0;
                border: none;
                background-color: transparent;
                font-weight: bold;
            }
        }

        ul.navTreeLevel1 {
            font-size: 0.9375em;

            margin: 0.25em 0 0.5em 0;
            border: 1px solid $item_border;
            background-color: $item_background;

            > li {
                padding: 0.125em 0.75em;
                margin:  0;

                > a.navTreeCurrentItem,
                > a.navTreeItemInPath {
                    margin: 0;
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                }
            }

            ul.navTreeLevel2 {
            }
        }
    }
}

body.template-plone_site_view {
    #portal-breadcrumbs {
        display: none;
    }
}

body.template-content_checks {
    table.errors {
        font-size: 0.875em;

        th, td {
            padding: 0.25em 0.75em;
        }
    }
}

body.template-related_products,
body.template-link_check {
    #viewlet-above-content-title,
    #viewlet-above-content-body,
    #viewlet-below-content {
        display: none;
    }
}

body.template-link_check {

    #visual-portal-wrapper {

        table.errors {
            font-size: 0.9375em;

            th {
                font-size: 1em;
            }

            margin: 0.25em 0 1.5em;

            th, td {
                padding: 0.25em 0.75em;
            }
        }
    }
}

body.template-plone_site_view,
body.template-atlas_status_summary {

    #visual-portal-wrapper {

        #content {

            #content-core {

                h2, h3 {
                    margin-top: 0;
                    font-size: 1.375em;
                }

                h3 {
                    font-size: 1.125em;
                }

                .listItem {
                    margin-top: 0;
                    padding-top: 0;
                    background-color: transparent;
                    border: 1px solid transparent;

                    h2, h3 {
                        margin-top: 0;
                    }

                    table {

                        width: 100%;

                        tr {

                            td, th {
                                font-size: 0.875em;
                                padding: 0.25em 0.5em;
                                line-height: 1.25;

                                a {
                                    display: block;
                                    font-weight: bold;
                                }
                            }

                            td {
                                vertical-align: middle;
                            }

                            td.number {
                                text-align: right;
                                font-size: 1.125em;
                            }
                        }
                    }
                }
            }
        }
    }
}

body.template-analytics {
    a[data-type]:before {
        content: attr(data-type) ": ";
        font-weight: bold;
    }
}

/* Image sizes in TinyMCE rich text editor*/
.mceContentBody  {

    img {
        max-width: 500px;
        max-height: 333px;
    }
}

/* HTML in TinyMCE */
body > div[id^='mce_inlinepopups'] {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    height: auto !important;
    width: auto !important;
}

iframe[id^='mce_inlinepopups'] {
    width: 100% !important;
    height: 100% !important;
}

span[id^='mce_inlinepopups'] {
    width: 100% !important;
    height: auto !important;
    bottom: 2em;
}

textarea#htmlSource {
    font-size: 1.25em !important;
    width: 100% !important;
    height: auto;
}