<div class="row my-3 form-checkbox">

    <div class="col-1 text-end">
        <input type="checkbox" id="{{item.token}}" name="{{item.token}}" value="{{item.token}}">
    </div>
    <div class="col-11">
        <label for="{{item.token}}">{{item.title}}</label>
    </div>

</div>

