<div class="row my-3 ms-3 form-drop-down">
    <div class="col-3 px-0">
        <label for="{{item.token}}">{{item.title}}</label>
    </div>
    <div class="col-9">
        <select name="{{token}}" id="{{token}}">
            <option value="">Please select an option...</option>
            {% for _ in item.options %}
                <option value="{{_['token']}}">{{_['title']}}</option>
            {% endfor %}
        </select>
    </div>
</div>
