<div class="row my-3 ms-3 form-field">
    <div class="col-3 px-0">
        <label for="{{item.token}}">{{item.title}}</label>
    </div>
    <div class="col-9">
        <input type="text" id="{{item.token}}" name="{{item.token}}" />
    </div>
</div>

